:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #de0000;
  --color-title-grey: #686262;
  --color-grey-lines: #c3baba;
  --color-title-price-firstcard: #035A76;
  --color-title-price-secondcard: #690F8E;
  --color-title-price-thirdcard: #B00024;
  --color-bg-highlights: #DFE3F5;
  --color-bg-desc-desktop: #F7F4F4;
  --color-bg-plans: #F7F4F4;
  --color--font--desc: #9f64b4;

  /* font */
  --font: 'Rubik', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: 16px;
  font-family: sans-serif;
  font-family: var(--font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/******************** HEAD *********************** */
.head {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__bar a {
  margin: 1rem;
  color: var(--color-white);
  text-decoration: none;
}

hr {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.256);
}

.head h1 {
  width: 80%;
  font-size: 2rem;
  color: var(--color-white);
  margin-top: 2rem;
  text-align: center;
}

.head p {
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 0;
  color: var(--color-white);
}

.btn {
  width: 90%;
  margin: 3rem;
  background-color: transparent;
  color: var(--color-white);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: var(--font);
  border: 1px solid var(--color-red);
  border-radius: 7px;
  padding: .7rem;
  width: 350px;
  cursor: pointer;
}

.highlights {
  background-color: var(--color-bg-highlights);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights img:nth-child(4) {
  margin-top: 5rem;
}

.title{
  text-align: center;
  color: var(--color-title-grey);
  padding: 3rem 0;
}

.highlights img {
  width: 100%;
  height: auto;
}

.highlights p {
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}


/* ******************************* SECTION DESCRIPTION ********************************** */

.description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__container{
  width: 80%;
  margin: 3rem 0;
}

.description__item {
  margin-top: 4rem;
}

.description__item--title {
  display: flex;
  align-items: center;
  padding: .5rem;
}

.description__item--title i{
  font-size: 1.5rem;
}

.description__item--title h4 {
  margin-left: .5rem;
  color: var(--color--font--desc);
}

.description__item p {
margin-left: 2rem;
}



/* *************************** SECTION ABOUT ******************************** */

.about {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.about__info p {
  margin-bottom: 2rem;
}

.about__info p:nth-child(3) {
font-weight: 600;
}

.about__icon {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.about__icon i{
font-size: 4rem;
transition: transform .1s ease-in;
}

.about__img {
  display: none;
}

/* ************************************** SECTION PLANS *********************************** */

.container__plans {
  background-color: var(--color-bg-plans);
}

.plans__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
    width: 65%;
    background-color: var(--color-white); 
    display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 2rem 0;
  transition: all .1s ease;
}

.card  h4{ 
  width: 100%;
  text-align: center;
  color: var(--color-title-price-firstcard);
  margin: .5rem 0;
  padding-bottom: .5rem;

  border-bottom: 2px solid var(--color-bg-plans);
}

.card h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-title-price-firstcard);
}

.card ul {
  margin: 1rem 0;
}

.card ul li {
  list-style: none;
  margin: .5rem 0;
  font-size: .8rem;
  color: var(--color-title-grey);
}

.card button {
  background-color: transparent;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 1rem 0;
  border-color: var(--color-title-price-firstcard);
  color: var(--color-title-price-firstcard);

}

.card:nth-child(2) h4 {
  color: var(--color-title-price-secondcard);
}

.card:nth-child(2) h3 {
  color: var(--color-title-price-secondcard);
}

.card:nth-child(2) button {
  color: var(--color-title-price-secondcard);
  border: 2px solid var(--color-title-price-secondcard);
}

.card:nth-child(3) h4 {
  color: var(--color-title-price-thirdcard);
}

.card:nth-child(3) h3 {
  color: var(--color-title-price-thirdcard);
}

.card:nth-child(3) button {
  color: var(--color-title-price-thirdcard);
  border: 2px solid var(--color-title-price-thirdcard);
}


/* ***************************************** SECTION CONTACT ************************************** */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn--black {
  color: var(--color-black);
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact__info__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__info__data p {
  padding: 1rem 0;
  color: var(--color-title-grey);
}

.contact__info__data p:nth-child(2) {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact__info__data a {
  padding-bottom: 1rem;
}

.contact__info__media {
  width: 100%;
}

.contact__info__media img{
  width: 100%;
  height: auto;
}

/* *************************************** SECTION FOOTER ******************************************** */

.footer {
  background-color: var(--color-black);
  padding-bottom: 5rem;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__icons i {
  font-size: 2rem;
  margin: 2rem 1rem 3rem;
}



/* **************** MEDIA QUERIES ************* */

@media screen and (min-width: 768px) {

  .contact__info__media {
    width: 75%;
  }


  .description {
    background-color: var(--color-bg-desc-desktop);
  }

  .description__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .description__container article:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .description__container article:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .description__item {
    margin-top: 0;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}



@media screen and (min-width: 1024px) {

  .contact__info {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 85%;
  }

  .contact__info__media {
    width: 50%;
  }


  .about {
    flex-direction: row;
  }

  .about__icon {
    border-top: 1px solid var(--color-title-grey);
  }

  .about__info {
    margin: 2rem;
  }



  .about__icon i:hover {
    transform: scale(1.3)
  }

  .about__img {
    display: block;
  }

  .card {
    width: 25%;
  }

  .card:hover {
    -webkit-box-shadow: 6px 5px 12px -1px rgba(0, 0, 0, 0.45);-moz-box-shadow: 6px 5px 12px -1px rgba(0, 0, 0, 0.45);box-shadow: 6px 5px 12px -1px rgba(0, 0, 0, 0.45);
    transform: scale(1.02);
  }

  .description__container {
    width: 60%;
  }

  .head {
    background-image: url(assets/bg-image-desktop.jpg);
    background-size: cover;
  }

  .nav__bar a{
    transition: .2s color ease-in-out;
  }

  .nav__bar a:hover {
    color: var(--color-title-grey);
  }
  
  .nav {
    width: 80%;
    justify-content: space-around;
  }




  .plans__cards {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .card button {
    cursor: pointer;
  }

  .head h1 {
    font-size: 3rem;
  }

  .head p {
    width: 40%;
    margin: 4rem 0;
  }

  .btn {
    cursor: pointer;
    margin: 2rem 0;
  }
  .highlights img {
    width: 75%;
    height: auto;
  }
}


@media screen and (min-width: 1440px) {

  .contact__info {
    width: 65%;
  }

  .about {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
  .description__container {
    width: 60%;
  }

  .description__item {
    margin-top: 4rem;
  }

  .plans__cards {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .highlights img {
    width: 50%;
    height: auto;
    padding-bottom: 1.5rem;
  }

  .btn {
    margin: 3rem 0;
  }
}

@media screen and (min-width: 2560px) {

  .contact__info {
    width: 45%;
  }
  
  .description__container {
    width: 40%;
  }

  .highlights img {
    width: 30%;
    height: auto;
    padding-bottom: 3rem;
  }
}